

.body {
    
    overflow-x: visible;
}

#header {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    
}

*{
    
    font-family: Arial, Helvetica, sans-serif;
}

#theatreList {
    
    height: 100%;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: rgb(210, 236, 244);
}   
#tableheader {
    width: 500px; 
    align-items: center;
    position:absolute;
    left:300px;
    background:rgb(248, 187, 187); 
    font-weight: bold;
}
#table {
    
    font-family: Arial, Helvetica, sans-serif;
    width: 500px; 
    align-items: center;
    position:absolute;
    left:300px;
    background:rgb(248, 187, 187); 
    }


#showData {
    
    position:fixed;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px; 
    left: 900px;
    background:rgb(176, 247, 176); 
   
}
#instruct {
    padding-left: 500px;
}

#form{
 
    position: relative;
    float: left;
    left: 500px;
}

#ajaxbutton{
    position:relative;
    float:left;
    left: 500px;
}

#space{
    height: 50px;
}

#foot{
    
    margin-top:480px;
    margin-left: 20px;
    
}